<!doctype html>
<html class="easy-sidebar-active" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appointments | PlatStyles</title>

    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<main>

    <div th:replace="fragments/header :: header"/>
    <!--Content Start-->
    <div class="container">
        <div class="h2">
            Appointments
        </div>
        <div class="box">
            <div class="container mt-5">
                <table class="table table-borderless main">
                    <thead>
                    <tr style="color: gray;">
                        <th scope="col">OrderID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Service</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tr th:each="appointment:${appointmentList}" class="rounded bg-white">
                        <td><a th:href="'/user/orderDetail?order='+${appointment.getOid()}" th:text="${appointment.getOrderNum()}"></a></td>
                        <td th:text="${appointment.getDate()}"></td>
                        <td class="d-flex align-items-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/168/168732.png" class="rounded-circle" width="25">
                            <span style="padding-left: 3px;" th:text="${appointment.getUser().getFirstName()}" class="ml-2">Tom</span>
                        </td>
                        <td th:text="${appointment.getServiceName()}"></td>
                        <td th:text="${appointment.getTotalPrice()}"></td>
                        <td th:text="${appointment.getStylistStatus()}"></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Feedback
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Yes</a></li>
                                    <li><a class="dropdown-item" href="#">No</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--Content End-->
    <!--Footer-->
    <div th:replace="fragments/footer :: footer"/>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="../js/sidebars.js" th:href="@{../js/sidebars.js}"></script>
<script>
    //easy-sidebar-toggle-right
    $('.easy-sidebar-toggle').click(function(e) {
        e.preventDefault();
        //$('body').toggleClass('toggled-right');
        $('body').toggleClass('toggled');
        //$('.navbar.easy-sidebar-right').removeClass('toggled-right');
        $('.navbar.easy-sidebar').removeClass('toggled');
    });
</script>
</body>
</html>