<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PlatStyles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="img/icon-p.png" th:href="@{/img/icon-p.png}"  type="image/p-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@100&display=swap" rel="stylesheet">

</head>

<body>
<style type="text/css">
    h1{
        font-family: 'Anton', sans-serif;
    }
    h3{
        font-family: 'Barlow', sans-serif;
    }
</style>

<main>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="img/logo-h-wt.png" th:href="@{/img/logo-h-wt.png}" alt="">
                </a>


                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 align-items-center " role="search">
                    <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <div class="text-end" th:case="${false}">
                        <a class="btn btn-warning m-3" href="signup" role="button" >Sign-up</a>
                        <a class="btn btn-outline-light" href="login" role="button" >Login</a>
                    </div>
                    <div class="text-end" th:case="${true}">
                        <a class="btn btn-outline-light" href="/user/account" role="button" >Account</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container mb-3">
            <br><br><br>
            <h1 class="display-3 mx-2">Finding your best stylist</h1>
            <h3 class="display-6 mt-4 mx-2">Let's begin from here</h3>
            <a class="btn btn-outline-light btn-lg mt-2 mx-2" href="user/shop" role="button" >Start Now</a>
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

<!--    <div class="container-fluid">-->
<!--        <div class="row m-5 p-3">-->
<!--            <div class="col-md d-flex m-2 pb-4">-->
<!--                <div class="flex-shrink-0">-->
<!--                    <svg class="bi d-block mx-auto mb-1" width="140" height="140"><use xlink:href="#peoplecircle"/></svg>-->
<!--                </div>-->
<!--                <div class="flex-grow-1 ms-3">-->
<!--                    This is some content from a media component. You can replace this with any content and adjust it as needed.-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md d-flex m-2">-->
<!--                <div class="flex-shrink-0">-->
<!--                    <svg class="bi d-block mx-auto mb-1" width="140" height="140"><use xlink:href="#peoplecircle"/></svg>-->
<!--                </div>-->
<!--                <div class="flex-grow-1 ms-3">-->
<!--                    This is some content from a media component. You can replace this with any content and adjust it as needed.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container">
        <footer class="">
<!--            <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--                <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Home</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Shop</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Cart</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Account</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Support</a></li>-->
<!--            </ul>-->
            <p class="text-center text-muted">Powered by &copy; 2022 PlatStyle, Inc</p>
        </footer>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>